<div class="text-center">
<h2><%= @restaurant.name %></h2>
  <h4>Category:</h4>
<p><%= @restaurant.category %></p>
  <h4>Address:</h4>
<p><%= @restaurant.address %></p>
  <h4>Phone Number:</h4>
<p><%= @restaurant.phone_number %></p>
<h4>Reviews:</h4>
<% @restaurant.reviews.each do |review| %>
  <h5>Review-Content:</h5>
  <p><%= review.content %></p>
  <h5>Review-Rating:</h5>
  <p><%= review.rating %></p>
<% end %>
<p><%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></p>
</div>